/*https://css-tricks.com/drawing-images-with-css-gradients/
  https://css-tricks.com/difference-between-types-of-css-variables/

  background: <image> <position> / <size>;
   radial-gradient(width height at x y)
   radial-gradient(100% 100% at x-in-bounding-box y-in-bounding-box) x y / width height
*/
:root {
  --atmosphare1: #2ab8d9;
  --atmosphare2: #02b7e3;
  --atmosphare3: #005f9f;

  --water: #02857f;
  --surface: white;
  --air: whitesmoke;

  --navcolor: #000044;
  --navfont: white;
}
html {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* navigation */
.navigation {
  height: 50px;
  background: var(--navcolor);
  background: linear-gradient(60deg, var(--atmosphare1), var(--atmosphare3) 30%, #000044);
  box-shadow: 8px 8px 6px 6px white;
}

.nav-container {
  /*max-width: 1000px;*/
  margin: 0 auto;
}

nav {
  /*float: right;*/
  width: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-45%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
  /*padding: 0 50px;*/
}

.tochka {
  line-height: 50px;
  color: var(--navfont);
  display: inline;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 80px;
  line-height: 50px;
  color: var(--navfont);
  text-decoration: none;
}

nav ul li a:hover/*,
  nav ul li a:visited:hover*/ {
  /*font-family: 'Dancing Script', cursive, Arial;
  font-size: 1.8rem;*/
  background-color: transparent;
  color: var(--navfont);
  border-bottom: 1px solid var(--navfont);
  line-height: 21px;
  padding-left: 41px;
  padding-right: 41px;
  margin: 15px 39px auto 39px;*/  /*[line-height-initial(50px) - border(1px) - line-height-current(21)]/2=9px*/
                               /*80 - 40 -1(border) = 60*/

}

/* Mobile navigation */

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 768px) {
  .tochka {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding-top: 50px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  /*nav ul li a {
    padding: 15px;
    line-height: 20px;
  }*/
  nav ul li a,
  nav ul li a:visited,
  nav ul li a:hover {
    padding: 0 30px;
    line-height: 30px;
    color: var(--navfont);
    margin: 0;
    border: none;
  }
  nav ul li a:hover {
    background-color: #80ecec;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 0px;
  top: 14px;
  cursor: pointer;
  padding: 10px 28px 12px 0px;  /*top, right: width-of-nav-toggle span*/
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 28px;
  background: #80ecec;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/*end of navigation*/

/*FONTS*/
h1 {
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive, Arial;
  color: black;
}
h3 {
  font-size: 1rem;
}
/*.contacts_text h3 {
  color: white;
}*/

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5.5rem;
  }
}
#home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index:2;
}
#about h1 {
  margin: 30px auto;
}
.centered {
  text-align: center;
}

/*BACKGROUNDS*/
.backgrounds-maryna {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

/*Home*/
#projects_atmosphare {
  z-index: 2;
  background-attachment: scroll;
  width: 300%;
  margin-left: -100%;
  height: 10em;
  background-image: radial-gradient(farthest-corner at 50% 180%,
    lightgrey 40%, var(--atmosphare1) 45%, var(--atmosphare2) 46%, var(--atmosphare3) 48%, black 65%);
}
#projects {
  background-color: lightgrey;/* #EFDD6F; sand /*#e7fbfb;*/
  /* background: linear-gradient(lightgrey 0%, whitesmoke 94%, white 97%, #02857f 100%); */
  background: linear-gradient(lightgrey 0%, whitesmoke 90%);
  background-attachment: scroll;
}
/*CLOUDS*/
.clouds {
  height: 40px;
  width: 40px;
  position: absolute;
  background-image: url('../img/cloud2.svg');
  background-repeat: no-repeat;
  transition-timing-function: linear;
}
@media screen and (min-width: 768px){
  .clouds {
    height: 100px;
    width: 100px;
  }
}
#cloud1 {
  transform: scale(2);
  animation: cloud1_move 25s linear infinite;
}

@keyframes cloud1_move {
  from {margin-top: 15vh;
        right: -3vw;}
   to {margin-top: 7vh;
      right: 103vw;}
}
#cloud11 {
 transform: scale(2.5);
 animation: cloud5_move 25s linear 15s infinite;
 margin-top: 15%;
 right: -9vw;
}
@keyframes cloud5_move {
 from {margin-top: 15%;
       right: -9vw;}
  to {margin-top: 15%;
     right: 104vw;}
}

#cloud2 {
  transform: scale(2.5);
  animation: cloud2_move 30s linear 5s infinite;
  margin-top: 30%;
  right: -9vw;
}
@keyframes cloud2_move {
  from {margin-top: 30%;
        right: -9vw;
      }
   to {margin-top: 30%;
      right: 103vw;}
}

#cloud22 {
  transform: scale(2);
  animation: cloud2_move 30s linear 20s infinite;
  margin-top: 40%;
  right: -9vw;
}
@keyframes cloud2_move {
  from {right: -9vw;
      }
   to {right: 103vw;}
}

#cloud3 {
  transform: scale(3);
  animation: cloud3_move 25s linear infinite;
  margin-top: 60%;
  right: -10vw;
}

@keyframes cloud3_move {
  from {margin-top: 60%;
        right: -10vw;}
   to {margin-top: 55%;
      right: 104vw;}
}

#kite {
  background-image: url('../img/kite1.svg');
  background-repeat: no-repeat;

  animation: kite_move 10s ease infinite;
  right: -9vw;
}

@keyframes kite_move {

  0% {margin-top: 75%;
        right: 90vw;
        transform: scaleX(2);}
  49% {
    margin-top: 70%;
        right: 9vw;
        transform: scaleX(1);
  }
  50% {transform: scaleX(-1);
  }
  99% {margin-top: 75%;
        right: 90vw;
        transform: scaleX(-2);
        /* transform: scaleX(-2); */
        /* transform: scaleY(2); */
        }
  100% { transform: scaleX(2);}
}

/*END OF CLOUDS*/
#water_surface {
  background:
    radial-gradient(130% 200% at 50% -30%, var(--air) 40%, var(--surface) 50%, var(--water) 55%) 0 0 / 75% 100%,
    radial-gradient(155% 130% at 50% 79%, var(--water) 39%, var(--surface)  48%, var(--air) 56%) 100% 0 / 25% 100%;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  font-size: 10px;
  height: 10em;
}
@media screen and (min-width: 768px){
  #water_surface, #projects_atmosphare {
    height: 17em;
  }
}


#about {
  /*background-color: rgb(130,225,227, 0.5); #82e1e3;*/
  /* background: linear-gradient(#c0f0f1, #0363c5); */
  background: linear-gradient(#02857f , #0266a1, #0244a3 98%); /* #7bc3b8 10%,*/
  background-attachment: scroll;
}
#contacts {
    /* background-color: #1f3f9f; */
    background-image: url('../img/contact.png');
}

/*MARGINS PADDINGS*/
.margint30 {
  margin-top: 30px;
}
.margint60 {
  margin-top: 60px;
}
.marginb30 {
  margin-bottom: 20px;
}
.marginb50 {
  margin-bottom: 50px;
}
.paddingb50 {
  padding-bottom: 50px !important;
}
@media only screen and (max-width: 767px) {
  .marginb20xs {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .marginl50 {
    margin-left: 50%;
  }
  .marginb30 {
    margin-bottom: 30px;
  }
}
/*grid system*/
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}
.container640 {
  padding: 0;
  width: 640px;
}
.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}
.one,
.one-third,
.two-thirds,
.half {
  width: 100%;
}
.one-fourth {
  width: 50%;
}
.column {
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .one-sixth {
    width: calc(100% / 6);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}
/*end of grid system*/

/*HOME*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
.stars {
  position:relative;
  width:100%;
  height:100%;
}
.twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 300s linear infinite;
}

/*PROJECTS*/
.Project_boxes {
  position:relative;
  padding-left: 0;
  padding-right: 0;
  border: 3px solid #cecece;
  font-family: 'Dancing Script', cursive, Arial;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.image_Projects {
    position:relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.image_Projects img {
    width:100%;
    vertical-align:top;
}

.image_Projects:after, .image_Projects:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image_Projects:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.7);
}
.image_Projects:before {
  /*font-family: "Font Awesome 5 Free";*/
  content: "Click me";/*url("../img/free-code-camp-brands.svg"); /*"\f2c5";*/
  color: white;
  font-size: 5rem;
  margin: auto;
  width:auto;
  z-index:1;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
#slider:before{
  content:'\A';
}
.image_Projects:hover:after, .image_Projects:hover:before {
    opacity:1;
}

.Caption_Projects {
  position:relative;
  background-color: white;
  border-width: 1px 0 0 0;
  border-color: black;
  border-style: solid;
  font-size: 1rem;
  text-align: center;
  font-family: Arial;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .Caption_Projects {
    font-size: 1.3rem;
  }
}

/*ABOUT*/
@media screen and (max-width: 767px){
  .xs_container_for_two {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px){
  .centralize_child {
    display: flex;
    align-items: center;
  }
}


#about_show_text {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
#hidden_text {
  display: none;
}
font {
  font-size: 0.8rem;
}
@media only screen and (min-width: 768px) {
  font {
    font-size: 1rem;
  }
}
#certificate {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  width: 80px;
  cursor: pointer;
}
ul.nolist {
  list-style-type: none;
  margin: 5px 0;
  padding-left: 15px;
}
ul.nolist li::before {
  content: "- ";
}
.firstli::before {
  content: "You need ";
}
.competences {
  font-size: 1.1rem;
}
.competencesul {
  font-weight: 700;
  line-height: 25px;
}
@media screen and (min-width: 768px){
  .competences {
    font-size: 2rem;
  }
  .competencesul {
    line-height: 1.8em;
    font-size: 1.4em;
  }
}
#me {
  /* float: right; */
  border: 5px solid white;
  border-radius: 50%;
  max-width:100%;
  max-height:100%;
  display: block;
  margin: auto;
}
/*end of ABOUT*/

/*CONTACTS*/
#video_container {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
#video_container video {
  width: 100%;
  height: 100%;
}
/* @media screen and (min-width: 768px) {
  #video video {
    width: 640px;
  }
} */

#contacts_div {
  position: absolute;
  color: white;
}



.underline {
  text-decoration: underline;
}
hr {
  width: 640px;
  background-color: white;
  height: 0px;
  margin: 40px auto 10px auto;
}
@media screen and (min-width: 768px){
  #contacts_text {
    padding: 0;
    text-align: center;
  }
  /* #contacts_content {
    width: 640px;
    margin-top: 25vh;
  } */

  br.xs {
    display: none;
  }
  .contacts_buttons {
    text-align: center;
  }
}

a.buttons {
  text-decoration: none;
}
.buttons {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 40px;

  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* border: 1px solid white; */
}
@media screen and (min-width: 768px){
  .buttons {
    font-size: 1.7rem;
    line-height: 60px;
    width: 60px;
    height: 60px;
}
.buttons:hover {
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);/*, 0 17px 50px 0 rgba(0,0,0,0.1);*/

}
/*
.hire{
  text-decoration: none;
  margin: 10px 20px;
  padding: 6px 12px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4;

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;

  color: white;
  background-color: #b7170a;
  margin: 10px auto 0px auto;
  border-radius: 4px;
}*/
.hire {
  display: inline-block;
  text-decoration: none;
  /*background: green;*/
  color: white;
  font-weight: bold;
  width: 220px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  /*box-shadow: 0px 0px 0px 5px green;*/
  border: solid 2px white;
  transition: .4s;

}
.hire:hover{
  /* background-color: green; */
  border-style: dashed;
    /* border: none;
    -moz-box-shadow:    inset 0 0 10px rgb(0,0,0, 0.7);
    -webkit-box-shadow: inset 0 0 10px rgb(0,0,0, 0.7);
    box-shadow:         inset 0 0 10px 	rgb(0,40,0); */

}

.btn-codepen {
  background-color: black;
  color: #FFF;
}
.btn-codepen:hover,
.btn-codepen:focus {
  color: #A9A9A9;
  outline: none !important;
  border: 1px solid black;
}
/*.buttons:active {
  outline: none !important;
}*/

.btn-github {
  background-color: white;
  /*border: 2px solid #A9A9A9;*/
  color: black;
  border: 1px solid black;
}
.btn-github:hover {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}
.btn-fcc {
  /*border-color: #398439;*/
  background-color: #009300;
  color: white;
}
.btn-fcc:hover {
  background-color: #004d00;
  border: 1px solid rgb(0, 120, 0);

}
.btn-fb {
  background-color: #4267b2;
  color: white;
}
.btn-fb:hover {
  background-color: #173854;
  border: 1px solid #173854;
}

/**BUBBLES*/
/*#contacts {
  background: #09f;
 @include background-image(linear-gradient(bottom, #09f, #45d1ff));

}*/
.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.bubble-container {
  position: absolute;
  bottom: 0;
/*will-change: transform;*/
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  opacity: 0;
}
.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  /*will-change: transform;*/
  border-radius: 10px;
}
@-webkit-keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 0;
 }
  5% {
    bottom: 0;
    opacity: 1;
 }
  99% {
   opacity: 1;
 }
  100% {
    bottom: 100%;
    opacity: 0;
 }
}
@-moz-keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 0;
 }
  5% {
    bottom: 0;
    opacity: 1;
 }
  99% {
    opacity: 1;
 }
  100% {
    bottom: 100%;
    opacity: 0;
 }
}
@-ms-keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 0;
 }
  5% {
    bottom: 0;
    opacity: 1;
 }
  99% {
    opacity: 1;
 }
  100% {
    bottom: 100%;
    opacity: 0;
 }
}
@keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 1;
 }
  5% {
    bottom: 0;
    opacity: 1;
 }
  99% {
    opacity: 1;
 }
  100% {
    bottom: 100%;
    opacity: 0;
 }
}
/*END OF BUBBLES*/
