html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.background {
  background-image: url("../../../img/backgrounds/wiki_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  opacity: 0.9;
}

.margint10{
 margin-top: 10%;
}

#result div {
  background-color: white;
  opacity: 0.9;
}

h2{
  padding-left: 30px;
  padding-top: 30px;
}
.snippet{
 padding-left: 30px;
 padding-bottom: 30px;
}
#result a {
 text-align: left;
 color:black;
}
#result a :hover {
  opacity: 1;
}
#result a :active{
  color: blue;
}
label, input, #searchButton {
  display: inline-block;
}

#content a, input, #searchButton {
  width: 100%;
}
.setheight {
  height: 30px;

}
#content {
  font-size: 1.3rem;
}

#searchButton {
  border: none;
  text-align: center;
}
#searchButton:hover {
  background-color: grey;
}
